<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/weather.png">
        <h3>History Section</h3>
        <p>In 1861, the first daily weather forecasts were published in the Times. In the 20th century, advances in
            understanding atmospheric physics led towards modern-day numerical weather prediction. Since then,
            forecasting techniques have included analysing data relating to pressure, air speed, precipitation and
            temperature.</p>
        {{>body}}

    </div>

    {{>footer}}
</body>

</html>